div#sf{
	display: flex;
	flex-direction: row;
	width: fit-content;
	margin: auto;
}

canvas#sf-canvas{
	border: 1px solid black;
	margin-right: 0.5em;
	align-self: start;
}

div#sf-docs:empty{
	display: none;
}

div#sf-docs{
	border: 1px solid black;
	background-color: white;
	overflow-y: scroll;
}

button.listing{
	display: block;
	width: 100%;
	text-align: left;
}

button.listing > canvas{
	float: right;
}